{{> nav-secondary}}

<div class="row">
    {{#each applications}}
      <!-- {{{json this}}} -->
      <div class="repo" href="/project/gh/{{github.fullName}}">
        {{#if icon}}
          <img class="app-icon" src="data:image/svg+xml;base64,{{{icon}}}" />
        {{else}}
          <img class="app-icon" src="/images/application-default-icon.png"/>
        {{/if}}
        <div class="description">
          {{#if name}}
            <p>{{name}}</p>
          {{else}}
            <p><em>unknown app</em></p>
          {{/if}}
          <p class="subtext">
            <a href="https://github.com/{{github.fullName}}" target="_blank">{{github.fullName}}</a>
          </p>
        </div>

        {{#is status "UNINITIALIZED" }}
          {{> status/uninitalized}}
        {{/is}}

        {{#is status "STANDBY" }}
          {{> status/needs-release}}
        {{/is}}

        {{#is status "NEW RELEASE" }}
          {{> status/publish}}
        {{/is}}

        {{#is status "BUILDING" }}
          {{> status/in-progress}}
        {{/is}}

        {{#is status "REVIEWING" }}
          {{> status/needs-review}}
        {{/is}}

        {{#is status "FAILED" }}
          {{> status/failure}}
        {{/is}}
      </div>
    {{else}}
      <h3>No elementary apps found!</h3>
      An <code>.apphub</code> file in the root of the repo is how Houston
      knows which apps to look at.
    {{/each}}
</div>
