<div>
    <a href="{{user.username}}">
        <img src="{{user.avatar}}"/>
        {{user.username}}
    </a>
    <pre>{{json user}}</pre>
    <hr/>
    <ul>
      {{#each repos}}
        <li><a href="/project/gh/{{full_name}}">{{full_name}}</a></li>
      {{/each}}
    </ul>
</div>
