{{> nav-secondary}}

<div class="row">
    <h2>Select an App</h2>
    {{#each repos}}
      <a class="repo" href="/project/gh/{{owner}}/{{repoName}}">
        {{#if icon}}
          <img class="app-icon" src="/images/application-default-icon.png"/>
        {{else}}
          <img class="app-icon" src="data:image/svg+xml;base64,{{{iconData}}}" />
        {{/if}}
        <div class="description">
          <p>{{appName}}</p>
          <p class="subtext">{{owner}}</p>
        </div>
        <i class="fa fa-check-circle"></i>
        <i class="fa fa-exclamation-triangle"></i>
        <i class="fa fa-refresh"></i>
      </a>
    {{else}}
      <h3>No elementary apps found!</h3>
      An empty <code>.elementary</code> in the root of the repo is how houston
      knows which apps to look at.
    {{/each}}
</div>
