<div id="nav-secondary">
    <img class="avatar" src="{{user.avatar}}"/>
</div>

<div class="row">
    <h1>Select an App:</h1>
    {{#each repos}}<a class="repo" href="/project/gh/{{full_name}}">
        <img src="{{owner.avatar_url}}"/>
        <div>
            <p>{{name}}</p>
            <p class="subtext">{{full_name}}</p>
        </div>
    </a>{{/each}}
</div>

    <pre>{{json repos}}</pre>
