{{> nav-secondary}}

<div class="row">
    {{#each repos}}
      <div class="repo needs-release" href="/project/gh/{{owner}}/{{repoName}}">
        {{#if icon}}
          <img class="app-icon" src="/images/application-default-icon.png"/>
        {{else}}
          <img class="app-icon" src="data:image/svg+xml;base64,{{{iconData}}}" />
        {{/if}}
        <div class="description">
          <p>{{appName}}</p>
          <p class="subtext">{{owner}}/{{repoName}}</p>
        </div>
        {{> popover-needs-release}}
        {{> popover-publish}}
        {{> popover-in-progress}}
        {{> popover-failure}}
        {{> popover-needs-review}}
      </div>
    {{else}}
      <h3>No elementary apps found!</h3>
      An empty <code>.apphub</code> in the root of the repo is how houston
      knows which apps to look at.
    {{/each}}
</div>
