{{> nav-secondary}}

<div id="repo-list" class="row edit-mode">
    <h2>Select App</h2>
    {{#each repos}}
      <label id="repo-{{full_name}}" class="repo" for="input-{{full_name}}">
        <input id="input-{{full_name}}" type="checkbox"></input><span></span>
        <img class="app-icon" src="/images/application-default-icon.png"/>
        <div class="description">
            <p>{{name}}</p>
            <p class="subtext">{{full_name}}</p>
        </div>
        <i class="fa fa-check-circle"></i>
        <i class="fa fa-exclamation-triangle"></i>
        <i class="fa fa-refresh"></i>
      </label>
    {{/each}}
</div>
