{{> nav-secondary}}

<div class="row">
    {{#each applications}}
      <div class="repo needs-release" href="/project/gh/{{repo.fullName}}">
        <pre>{{{json this}}}</pre>
        {{#if icon.data}}
          <img class="app-icon" src="data:image/svg+xml;base64,{{{icon.data}}}" />
        {{else}}
          <img class="app-icon" src="/images/application-default-icon.png"/>
        {{/if}}
        <div class="description">
          {{#if name}}
            <p>{{name}}</p>
          {{else}}
            <p><em>unknown app</em></p>
          {{/if}}
          <p class="subtext">{{repo.fullName}}</p>
        </div>

        {{> popover-needs-release}}
        {{> popover-publish}}
        {{> popover-in-progress}}
        {{> popover-failure}}
        {{> popover-needs-review}}
      </div>
    {{else}}
      <h3>No elementary apps found!</h3>
      An empty <code>.apphub</code> in the root of the repo is how houston
      knows which apps to look at.
    {{/each}}
</div>
