mixin project(project, status, review)
  .repo
    .repo__container
      div.repo__icon
        if project.apphub.icon != null
          img(src="data:image/svg+xml;base64," + project.apphub.icon).app-icon
        else
          img(src="/images/application-default-icon.png").app-icon
      div.repo__body
        if project.release.latest
          p #{project.github.fullName} #{project.release.latest.version}
        else
          p #{project.github.fullName}
        if review && project.release.current
          p.subtext: a(href="https://github.com/" + project.github.fullName + "/compare/"+ project.release.current.github.tag + "..." + project.release.latest.github.tag) #{project.name} #{project.release.current.version} to #{project.release.latest.version}
        else
          p.subtext: a(href="https://github.com/" + project.github.fullName, target="_blank")= project.name
        if project.downloads
          p.repo__downloads #{project.downloads} downloads
      div.repo__action
        if status === true
          if project.status === 'NEW'
            include /partials/status/new
          if project.status === 'STANDBY'
            include /partials/status/standby
          if project.status === 'QUEUE'
            include /partials/status/queue
          if project.status === 'RUN'
            include /partials/status/run
          if project.status === 'REVIEW'
            if policy.ifRole(user, 'review')
              include /partials/review
            else
              include /partials/status/review
          if project.status === 'FINISH'
            include /partials/status/finish
          if project.status === 'FAIL'
            include /partials/status/fail
          if project.status === 'ERROR'
            include /partials/status/error

        if review === false
          include /partials/stripe
